---
import { Articles } from "astro:db";
import { db } from "astro:db";
import Article from "./Article.astro";
import type { ArticleType } from "@customTypes/ArticleType";

const articles = await db.select().from(Articles) as ArticleType[]
---
<section>
  {
    articles.map((article: ArticleType) => (
      <Article id={article.id} title={article.title} resume={article.resume} createdAt={article.createdAt} authors={article.authors} imageURL={article.imageURL}/>
    ))
  }
</section>